.panel-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: var(--outer-shadow);
}

.panel-header h4 {
  text-align: center;
}

.panel-header .sign-out-icon {
  color: var(--bs-danger);
  font-size: 1.4rem;
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--bs-danger);
  border-radius: 5px;
  transition: all .2s;
}

.panel-header .sign-out-icon:hover {
  color: #fff;
  font-size: 1.3rem;
  border-width: 2px;
  background: var(--bs-danger);
}

/************************* panel container *************************/
.panel-menu {
  height: 100vh;
  overflow: auto;
  top: 0;
  position: sticky;
}

.panel-menu-list .panel-menu-item {
  padding: .4rem;
  position: relative;
}

.panel-menu-list .panel-menu-item::after {
  position: absolute;
  content: '';
  width: 100%;
  bottom: 0;
  right: 0;
  height: 1px;
  background: var(--gray-900);
}

.panel-menu-list .panel-menu-item .nav-link {
  color: #fff;
  margin: 0 !important;
  transition: all .3s;
  border-radius: 4px;
}

.panel-menu-list .panel-menu-item .nav-link:hover,
.panel-menu-list .panel-menu-item .nav-link.active {
  background: #fff;
  color: var(--dark-color-700);
}

.panel-menu-list .panel-menu-item .nav-link i {
  margin-left: .2rem
}

/***************** users table ****************/
#products-table td,
#products-table th {
  vertical-align: middle;
  text-align: center;
}

#products-table td .table-image {
  width: 120px;
  display: block;
  margin: 0 auto;
}

/* comment td */
#products-table .comment-col {
  width: 35%;
}

#products-table .comment-col .comment-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* MODAL PART */
.modal-container {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, .8);
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  pointer-events: none;
  opacity: 0;
  backdrop-filter: blur(2px);
  transition: all .4s;
}

.modal-content {
  width: 45%;
  transform: translateY(-100px);
  transition: all .4s;
  pointer-events: none;
}

.modal-container .close-modal-btn {
  color: var(--dark-color-700);
  opacity: .6;
  font-size: 1.4rem;
  transition: all .2s;
}

.modal-container .close-modal-btn i {
  pointer-events: none;
}

.modal-container .close-modal-btn:hover {
  opacity: 1;
}

.modal-container.show-modal-box {
  user-select: auto;
  pointer-events: auto;
  opacity: 1;
}

.modal-container.show-modal-box .modal-content {
  transform: translateY(0);
  pointer-events: auto;
}