/******************** responsive search box ********************/

@media screen and (max-width: 1100px) {
    .header #navbarCollapse .search-box-container .search-box-group {
        width: 45%;
    }
}

@media screen and (max-width: 756px) {
    .header #navbarCollapse .search-box-container .search-box-group {
        width: 65%;
    }
}

@media screen and (max-width: 500px) {
    .header #navbarCollapse .search-box-container .search-box-group {
        width: 100%;
    }
    .header #navbarCollapse .search-box-container .search-box-outer .close-search-btn {
        display: none;
    }
}