@media screen and (max-width: 1150px) {
    .form-container::after,
    .form-container::before {
        width: 250px;
        height: 150px;
    }
}

@media screen and (max-width: 1100px) {
    .form-wrapper .main-form {
        width: 40%;
    }
}

@media screen and (max-width: 950px) {
    .form-wrapper .form-avatar {
        width: 15%;
    }
}

@media screen and (max-width: 850px) {
    .form-wrapper .main-form {
        width: 55%;
    }
}

@media screen and (max-width: 700px) {
    .form-wrapper .form-avatar {
        width: 20%;
    }
    .form-wrapper {
        padding-top: 0;
    }
}

@media screen and (max-width: 650px) {
    .form-wrapper .main-form {
        width: 100%;
    }
}

@media screen and (max-width: 850px) {
    .outer-shape::after,
    .outer-shape::before {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .form-wrapper .form-avatar {
        width: 28%;
    }
}

@media screen and (max-width: 352px) {
    .form-wrapper .form-avatar {
        width: 38%;
    }
}